#!/usr/bin/make -f

MAKE_FLAGS := \
    ENABLE_GPTP=1 \
    ENABLE_LIBGPTP=1 \
    ENABLE_LIBGPTP_TEST=1 \
    ENABLE_GPTP_SERVICE=1 \
    GPTP_DSQB_ENABLED=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) $(MAKE_FLAGS) gptp libgptp libgptp_test

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp
	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0755 daemons/gptp/obj/qgptp $(CURDIR)/debian/tmp/usr/bin/qgptp
	install -m 0755 examples/libgptp_test/libgptp_test $(CURDIR)/debian/tmp/usr/bin/libgptp_test
	install -d $(CURDIR)/debian/tmp/usr/lib
	install -m 0755 lib/libgptp/libgptp.so $(CURDIR)/debian/tmp/usr/lib/libgptp.so
	install -d $(CURDIR)/debian/tmp/usr/include
	install -m 0644 lib/libgptp/gptp_helper.h $(CURDIR)/debian/tmp/usr/include/gptp_helper.h
	install -d $(CURDIR)/debian/tmp/etc
	install -m 0644 daemons/gptp/etc/gptp_cfg.ini $(CURDIR)/debian/tmp/etc/gptp_cfg.ini
	install -d $(CURDIR)/debian/tmp/usr/lib/systemd/system
	install -m 0644 gptp.service $(CURDIR)/debian/tmp/usr/lib/systemd/system/gptp.service
	install -d $(CURDIR)/debian/tmp/usr/lib/systemd/system/sleep-notify@gptp.service.d
	install -m 0644 sleep-notify@gptp.service.d/gptp.conf $(CURDIR)/debian/tmp/usr/lib/systemd/system/sleep-notify@gptp.service.d/gptp.conf
	install -d $(CURDIR)/debian/tmp/usr/lib/systemd/system-preset
	echo "enable gptp.service" > $(CURDIR)/debian/tmp/usr/lib/systemd/system-preset/98-gptp.preset
	rm -f $(CURDIR)/debian/tmp/usr/lib/*/*.la || true
	rm -f $(CURDIR)/debian/tmp/usr/lib/*/*.a  || true
